
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    width: 100%;
}

.header{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #F4DBDB;
    padding-top: 30px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
}

.header-cont{
    display: flex;
    justify-content:space-between;
    flex-direction: row;
}

.logo{
    border-radius: 100%;
    size:10%;
    max-width: 100px;
    padding-left: 15px;
}

.header-title{
    font-weight: 500;
    font-size: 30px;
    padding-top: 25px;
    padding-right: 25px;
}

.menu-btns{
    display: flex;
    flex-direction: column;
    margin-right: 0 auto;
    margin-left: 0 auto;
    width: 100%;
}


.btn{
    background-color: #CD4662;
    border: 2px solid #CD4662;
    height: 40px;
    padding-top: 15px;
    padding-right: 25px;
    padding-left: 25px;
    color: black;
    line-height: 2;
    text-decoration: none;
    font-style: 15px;
    border-radius: 10px;
}

.btn:hover{
    background-color: #F4DBDB;
    border: 2px solid #CD4662;
    border-radius: 10px;
    color: black;
}


.footer{
    width: 100%;
    background-color: #F4DBDB;
    padding-left: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.content{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #F4F2EF;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
}

h3{
    background-color: #AEC289;
    max-width: 960px;
    padding-left: 25px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 15px;
    margin: 20px;
}

a{
    text-decoration: none;
    color: #000;

}
a:hover{
    color:#CD4662;
}

.tab{
    flex:auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    border: 2px solid #CD4662;
    text-align: center;
    order: 1;
}

.s{
    flex: auto;
    order: 2;
}

.forms{
    flex:auto;
    order: 3;
}

tr:nth-child(odd){
    background-color: #F4DBDB;
}

tr:nth-child(even){
    background-color: #F4F2EF;
}

td{
    border: 2px solid #CD4662;
}

@media (min-width: 800px){

    .tab{
        order: 2;
    }

    .forms{
        order: 3;
    }

    .s{
        order: 1;
    }

    .content{
        max-width: 960px;
    }

    .header{
        width: 100%;
        display:flex;
        flex-direction: row;
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 30px;
        border-bottom-right-radius: 50px;
        border-bottom-left-radius: 50px;
    }
    
    .header-cont{
        flex-direction: row;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }
    
    .header-title{
        padding-top: 25px;
        padding-bottom: 25px;
        padding-left: 15px;
    }

    .menu-btns{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        column-gap: 20px;
        margin-right: 40px;
    
    }
}


